@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label-primary {
    @apply text-white
  }
  .input-primary {
    @apply outline-none px-2 md:w-2/3 w-52 ml-4 rounded
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
